#!/usr/bin/make -f

export PYTHON=python3

include /usr/share/cdbs/1/rules/debhelper.mk
# Including this gives us a number of rules typical to a GNOME
# program, including setting GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1.
# Note that this class inherits from autotools.mk and docbookxml.mk,
# so you don't need to include those too.
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/autoreconf.mk

DEB_CONFIGURE_EXTRA_FLAGS := --with-systemdunitdir=/lib/systemd --enable-polkit \
	--disable-runtime-deps-check --with-dhcp-config=/etc/dhcp/dhcpd.conf

common-install-arch::
	rm -f $(CURDIR)/debian/blueman/usr/lib/nautilus-sendto/plugins/libnstblueman.la
	rm -f $(CURDIR)/debian/blueman/usr/share/doc/blueman/COPYING

install/blueman::
	rm -f $(CURDIR)/debian/blueman/usr/lib/python*/*-packages/_blueman.la
	rm -f $(CURDIR)/debian/blueman/usr/lib/python*/*-packages/_blueman.a

binary-install/blueman::
	dh_python3 -pblueman
